body{
    display:flex;
    flex-direction:column
}
.top{
    display:flex;
    justify-content: space-evenly;
}
li{
    display:flex;
}
.adv{
    display:flex;
    justify-content: center;
    align-items: center;
    
}
.random-information{
    display:column;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.card-container{
    display:flex;
    justify-content: center;
    gap:40px;
    
}
.card{
    display:flex;
    flex-direction: column;
    
}
