body{
    display:flex;
    flex-direction:column
}
.top{
    display:flex;
    justify-content: space-evenly;
}
li{
    display:flex;
}
.adv{
    display:flex;
    justify-content: center;
    align-items: center;
    
}
.random-information{
    display:column;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.card-container{
    display:flex;
    justify-content: center;
    gap:40px;
    
}
.card{
    display:flex;
    flex-direction: column;
    
}
.quote-container{
    background-color: blue;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-left: 400px;
    padding-right: 400px;
}
.quote{
    font-family: light italic;
    font-size: 36px;
}
.author{
    font-weight: bolder;
}
.signupcall{
    display:flex;
    justify-content: center;
    align-items: center;
    

}
.footer{
    display:flex;
    justify-content: center;
    align-items: center;
}

   