body{
    display:flex;
    flex-direction:column;
    margin:0;
    padding:0;
}
.top{
    display:flex;
    justify-content: space-evenly;
    background-color: rgb(174,111,3);
}
.header{
    font-size: 24px;
    color:#f9faf8;
}
li{
    display:flex;
    color:#f9faf8;
}
.adv{
    display:flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(174,111,3);
    padding:50px;
    gap: 2rem;
    
}
.description-text{
    width: 400px;
    padding: 10px;
}
.description-text-button{
    gap: 2rem;
}
.random-information{
    display:column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding-top: 20px;
    padding-bottom:60px;
    padding-bottom: 200px;
    
}
.card-container{
    display:flex;
    justify-content: center;
    gap:40px;
    
}
.card{
    display:flex;
    flex-direction: column;
    width:140px;
    
}
.smallimage{
    border: 7px solid orange;
    border-radius: 20px;
    width: 120px;
    height:120px;
}
.quote-container{
    background-color: rgb(175, 174, 171);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-left: 400px;
    padding-right: 400px;
    padding: 200px;
}
.quote{
    font-weight: 300;
    font-style: italic;
    font-size: 36px;
    width: 900px;
    text-align: left;

    
}
.author{
    align-self: flex-end;
    font-weight: bolder;
    width: 750px;
    
}
.signupcall{
    background-color: orange;
    display:flex;
    justify-content: space-around;
    align-items: center;
    padding: 50px;
    border-radius: 5px;
    width: 1000px;

}
.signupcontainer{
    display:flex;
    justify-content: center;
    align-items: center; 
    margin:200px;
} 
.signup-maintext{
    color: #f9faf8;
    font-weight: bolder;
    
}
.signup-information{
    color:#f9faf8
}
.signupbutton{
    background-color: orange;
    color:#f9faf8;
    border-radius: 10px;
    border: 2px solid #f9faf8;
    padding-left: 20px;
    padding-right: 20px;
    padding-top:5px;
    padding-bottom:5px;
}
.footer{
    display:flex;
    justify-content: center;
    align-items: center;
    padding:20px;
    background-color: rgb(174,111,3);
    margin-top: 28px;
}
.description-title{
    font-size: 48px;
    font-weight: bolder;
    color:#f9faf8
}
.description-subtext{
    color:#f9faf8;
    font-size: 18px;

}

.description-text-button{
    padding: 20px;
    
}
.adv-button{
    background-color: orange;
    color:#f9faf8;
    border-radius: 10px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top:5px;
    padding-bottom:5px;
}

